{% extends template %}
{% block content %}
<div class="h-full flex items-center justify-center relative">
  <div class="navbar bg-base-100 absolute top-0 shadow-lg">
    <a class="btn btn-ghost text-xl">
      HTMX ❤️
    </a>
  </div>
  <div id="login-response" class="absolute top-10"></div>
  <div class="flex flex-col gap-5">
    <form hx-post="{% url 'login' %}" class="flex flex-col gap-5 w-[400px]">
      {% csrf_token %}
      <input type="text" class="input input-bordered" placeholder="Username" name="username" />
      <input type="text" class="input input-bordered" placeholder="Password" name="password" />
      <button class="btn btn-primary">Accedi</button>
    </form>
    <a hx-boost="true" href="{% url 'register' %}" class="text-info">Registrati</a>
  </div>
</div>
{% endblock %}